{% extends 'base.html' %}
{% load humanize %}
{% block style %}
    <style>
        .address-list {
            margin: 20px 0;
            padding: 0;
            list-style-type: none;
        }

        .address-list li {
            padding: 10px;
            border: 1px solid #ddd;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .address-list a {
            padding: 10px;
            border: 1px solid #ddd;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .address-list li.selected {
            border-color: #cbd2cb;
            background-color: #333;
        }

        .address-list button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .address-list button:hover {
            background-color: #45a049;
        }

        .form-container {
            margin-top: 20px;
        }

        .form-container form {
            display: flex;
            flex-direction: column;
        }

        .form-container form button {
            background-color: #2196F3;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }

        .form-container form button:hover {
            background-color: #1976D2;
        }

        .delete-button {
            background-color: #e57373;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .delete-button:hover {
            background-color: #f44336;
        }
    </style>
    <style>
        /* استایل‌های عمومی برای پس‌زمینه تیره */
        body {
            background-color: #333;
            color: #f5f5f5;

        }

        /* استایل‌های مخصوص بخش جزئیات سفارش */
        .order-container {
            background-color: #1e1e1e; /* رنگ پس‌زمینه تیره */
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .order-header {
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 2px solid #444;
        }

        .order-header h1 {
            margin: 0;
        }

        nav a:hover {
            text-decoration: underline;
        }

        .order {
            margin-bottom: 20px;
        }

        .order h2 {
            margin-top: 0;
            color: #4CAF50;
        }

        .order-items {
            list-style: none;
            padding: 0;
        }

        .order-item {
            display: flex;
            align-items: center;
            background-color: #2c2c2c;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 8px;
        }

        .messages {
            display: flex;
            align-items: center;
            background-color: #2c2c2c;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 8px;
        }

        .order-item img {
            max-width: 100px;
            height: auto;
            margin-right: 15px;
            border-radius: 5px;
        }

        .order-item-details h4 {
            margin: 0;
            color: #f5f5f5;
        }

        .order-item-details p {
            margin: 5px 0;
        }

        .order-item-details strong {
            color: #4CAF50;
        }

        .discount-code-form {
            margin-top: 20px;
            padding: 10px;
            background-color: #2c2c2c;
            border-radius: 8px;
        }

        .order-summary {
            border: 1px solid #ddd;
            padding: 20px;
            margin: 20px 0;
            border-radius: 8px;
        }

        .order-summary h2 {
            margin-top: 0;
        }

        .order-summary p {
            margin: 5px 0;
        }

        .order-summary .order-items {
            list-style: none;
            padding: 0;
        }

        .order-summary .order-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
        }

        .order-summary .order-item-image {
            max-width: 100px;
            margin-right: 10px;
        }

        .order-summary .order-item-details {
            flex: 1;
        }

        .discount-section {
            margin-top: 20px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f9f9f9;
            color: black;

        }

        .discount-section input {
            padding: 8px;
            border: 1px solid #fff;
            color: black;
            border-radius: 4px;
            margin-right: 10px;
        }

        .discount-section button {
            padding: 8px 15px;
            background-color: #28a745;
            border: none;
            color: black;
            border-radius: 4px;
            cursor: pointer;
        }

        .discount-section button:hover {
            background-color: #218838;
        }

        .discount-section {
            margin: 20px 0;
        }

        .discount-section form {
            display: inline;
        }

        .discount-section button {
            background-color: #f44336; /* Red color */
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
        }

        @media (min-width: 1024px) {
            .order-detail-container {
                display: flex;
                justify-content: space-between;
            }

            .order-details {
                flex: 1;
                margin-right: 20px;
            }

            .order-items {
                flex: 1;
            }

            .discount-code-container {
            {#background-color: #3B3B3B; /* معادل رنگ zinc-600 */#} width: 75%;
                padding: 5px;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* سایه نرم */
                color: #fff; /* رنگ متن سفید برای تضاد بهتر */
            }
        }

        /* Styles for mobile */
        @media (max-width: 1024px) {
            .order-detail-container {
                display: block;
            }

            .order-details,
            .order-items {
                margin-bottom: 20px;
            }

            .discount-code-container {
            {#background-color: #3B3B3B; /* معادل رنگ zinc-600 */#} width: 100%;
                padding: 5px;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* سایه نرم */
                color: #fff; /* رنگ متن سفید برای تضاد بهتر */
            }
        }

        .order-items img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            margin-right: 10px;
        }

        .order-item {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        .order-item-details {
            flex: 1;
        }

        .order-detail-container {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;
        }

        .order-details, .order-items {
            flex: 1;
            min-width: 300px;
        }

        .order-items {
            display: flex;
            flex-direction: column;
        }

        .order-item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }

        .order-item img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            margin-right: 15px;
            border-radius: 8px;
        }

        .order-item-details {
            flex: 1;
        }

        .order-detail-container {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;
        }

        .order-details, .order-items {
            flex: 1;
            min-width: 300px;
        }

        .order-items {
            display: flex;
            flex-direction: column;
        }

        .order-item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
            position: relative;
        }

        .order-item img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            margin-right: 15px;
            border-radius: 8px;
        }

        .order-item-details {
            flex: 1;
        }

        .order-item button {
            background-color: #ff6f61;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            margin-left: 10px;
        }

        .order-item button:hover {
            background-color: #ff4c4c;
        }

        .order-item .delete-button {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: #ff6f61;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
        }

        .order-item .delete-button:hover {
            background-color: #ff4c4c;
        }

        .update-form {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .update-form input {
            width: 60px;
        }

        .update-form button {
            background-color: #4caf50;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
        }

        .update-form button:hover {
            background-color: #45a049;
        }

        .discount-section {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f9f9f9;
        }

        .discount-section input {
            padding: 5px;
            margin-right: 10px;
        }

        .discount-section button {
            background-color: #4caf50;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
        }

        .discount-section button:hover {
            background-color: #45a049;
        }


        /* استایل برای دکمه حذف */
        .delete-button {
            background-color: #ff6f6f; /* رنگ قرمز ملایم */
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        /* تغییر رنگ دکمه در حالت هاور */
        .delete-button:hover {
            background-color: #ff4d4d; /* رنگ قرمز تیره‌تر */
        }
    </style>
    <style>
        .order-header {
            display: flex;
            flex-direction: column;
            align-items: center; /* Center the content horizontally */
            position: relative;
        }

        .order-header nav {
            margin-bottom: 20px; /* Add spacing between navigation and button */
        }

        .order-actions {
            position: absolute;
            left: 0; /* Align to the left */
            top: 50%; /* Center vertically */
            transform: translateY(-50%); /* Adjust for vertical center alignment */
        }

        .btn-confirm {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            background-color: #007bff; /* Button background color */
            color: white; /* Text color */
            text-decoration: none; /* Remove underline */
            border-radius: 5px; /* Rounded corners */
            font-weight: bold;
            transition: background-color 0.3s; /* Smooth transition */
        }

        .btn-confirm:hover {
            background-color: #0056b3; /* Darker background on hover */
        }

    </style>
    <style>

        .status-label.notRegistered {
            color: #f44336; /* Red for not registered */
        }

        .status-label.pending {
            color: #ff9800; /* Orange for pending */
        }

        .status-label.shipped {
            color: #2196f3; /* Blue for shipped */
        }

        .status-label.delivered {
            color: #4caf50; /* Green for delivered */
        }

        .status-label.cancelled {
            color: #000000; /* Gray for cancelled */
        }

        .price, .discount, .discount-price, .total-price {
        {#font-weight: bold;#}
        }

        .total-price {
            color: #38bdf8;
            font-weight: bold;
        }

        .discount, .price {
            color: #2dd4bf; /* Dark red for discount */
        }

        .discount-price {
            color: #2dd4bf; /* Same as discount for consistency */
        }

    </style>
{% endblock %}

{% block main %}
    <main class="py-[150px] font-DanaRegular container">
        <div class="order-container">
            <div class="order-header">
                <h1>جزئیات سفارشات</h1>
                <nav>
                    <a href="{% url 'product_app:product_list' %}">بازگشت به لیست سفارشات</a>
                </nav>
            </div>


            <main>
                {% if order %}
                    <div class="order-detail-container">

                        <div class="order-items">
                            <h3>آیتم‌های سفارش:</h3>

                            <ul class="order-items-list">
                                {% for item in order.items.all %}


                                    <li class="order-item">

                                        <img src="{{ item.product.images.first.image.url }}"
                                             alt="{{ item.product.name }}" class="order-item-image">
                                        <div class="order-item-details">
                                            <a href="{% url 'product_app:product_detail' item.product.id %}">{{ item.product.name }}</a>


                                                <p><strong>تعداد: {{ item.quantity }}</strong>


                                            </p>
                                                {% if item.product.discount_percentage %}
                                                    <span class="text-teal-400 text-lg">
                    <span class="price">{{ item.product.price|floatformat:0|intcomma }}</span> تومان
                    {{ item.product.discount_percentage }}% تخفیف
                                                                            => {{ item.product.get_final_price }} تومان
                </span>
                                                {% endif %}
                                                <p><strong>قیمت هر آیتم:</strong> {{ item.product.get_final_price }}
                                                    تومان
                                                <p><strong>قیمت کل آیتم:</strong> {{ item.get_total_price }} تومان
                                                </p>
                                        </div>
                                    </li>


                                {% empty %}
                                    <p>هیچ آیتمی برای این سفارش وجود ندارد.</p>
                                {% endfor %}
                            </ul>

                        </div>
                        <div class="order-details">

                            <div class="order">

                                <div class="order-summary">
                                    <!-- وضعیت سفارش -->
                                    <p class="order-status"><strong>وضعیت:</strong> <span
                                            class="status-label {{ status }}">{{ order.get_status_display }}</span></p>
                                    <p><strong>تاریخ :</strong>{{ created_at|date:"j E" }}</p>

                                    <!-- کد تخفیف اعمال شده -->
                                    {% if order.discount_code.discount %}
                                        <p><strong>کد تخفیف اعمال شده:</strong> <span
                                                class="discount">%{{ order.discount_code.discount }}</span> معادل <span
                                                class="discount-price">{{ discount_price|intcomma }}</span> تومان</p>
                                        <!-- قیمت کل -->
                                        <p><strong>قیمت کل محصولات با احتساب تخفیف :</strong> <span
                                                class="total-price">{{ order.total_price|intcomma }}</span> تومان</p>
                                    {% endif %}

                                    <!-- قیمت اصلی کل محصولات -->
                                    <p><strong>قیمت اصلی کل محصولات:</strong> <span
                                            class="price">{{ order.original_price|intcomma }}</span> تومان</p>


                                </div>

                                <div class="discount-code-container">

                                </div>
                                <div id="addresss">
                                    <h2>آدرس‌ انتخابی شما</h2>
                                    <ul class="address-list">
                                        {% if address %}
                                            <li class="{% if address.id == selected_address_id %}selected{% endif %}">
                                                <p>
                                                    <strong>نام:</strong> {{ address.first_name }} {{ address.last_name }}
                                                </p>
                                                <p><strong>ایمیل:</strong> {{ address.email }}</p>
                                                <p><strong>تلفن:</strong> {{ address.phone }}</p>
                                                <p><strong>آدرس:</strong> {{ address.address }}</p>
                                                <p><strong>کد پستی:</strong> {{ address.postal_code }}</p>
                                            </li>
                                        {% else %}
                                            <p>شما هیچ آدرسی اضافه نکرده‌اید.</p>
                                        {% endif %}
                                    </ul>

                                </div>
                            </div>

                        </div>

                    </div>
                {% else %}
                    <p>هیچ سفارشی پیدا نشد.</p>
                {% endif %}
            </main>
        </div>
    </main>
{% endblock %}

{% block script %}
    <!-- اسکریپت‌های اضافی در صورت نیاز -->
{% endblock %}
