{% extends "base.html" %}
{% load static %}
{% load humanize %}  <!-- بارگذاری فیلتر intcomma -->

{% block style %}
     <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.2.7/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* Base Grid Styles */
        .grid {
            display: grid;
        }

        /* 2 Columns */
        .grid-cols-2 {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        /* Large Screens (lg) - 3 Columns */
        @media (min-width: 1024px) {
            .lg\:grid-cols-3 {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }

        /* Extra Large Screens (xl) - 4 Columns */
        @media (min-width: 1280px) {
            .xl\:grid-cols-4 {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }
        }

    </style>
    <style>


        /* استایل‌های پیجینیشن */
        .pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0 20px 0;
        }

        .pagination-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background-color: #18181b; /* رنگ پس‌زمینه زینک 900 */
            border-radius: 50%;
            margin: 0 10px;
            transition: background-color 0.3s;
        }

        .pagination-button:hover {
            background-color: #4a5568; /* رنگ روشن‌تر برای هاور */
        }

        .pagination-icon {
            width: 16px;
            height: 16px;
            color: #ffffff; /* رنگ آیکون */
        }

        .pagination-current {
            color: white;
        }


    </style>
<style>
    /* Form Styles */
    .filters {
        margin-bottom: 20px;
        padding: 10px;
        background-color: #f8f8f8;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .filters-form {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; /* فاصله بین عناصر */
    }

    .filter-group {
        display: flex;
        flex-direction: column;
        flex: 1; /* برای توزیع یکنواخت فیلترها */
    }

    .filter-label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .filter-input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .filter-button {
        padding: 10px 15px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        align-self: flex-end; /* برای تراز کردن دکمه در انتهای فرم */
    }

    .filter-button:hover {
        background-color: #0056b3;
    }
</style>
    <style>
        /* استایل عمومی فرم فیلتر */
        .filters {
            display: flex;
            justify-content: center; /* افقی مرکز کردن */
            align-items: flex-start; /* شروع عمودی برای تراز کردن عناصر */
            padding: 20px; /* فضای داخلی */
            margin-top: 150px
        }

        .filters-form {
            display: flex;
            flex-wrap: wrap; /* اجازه به عناصر برای انتقال به خط بعد */
            gap: 10px; /* فاصله بین عناصر */
            max-width: 800px; /* حداکثر عرض فرم */
            width: 100%; /* عرض کامل فرم */
            margin: auto; /* مرکزیت */
        }

        .filter-group {
            display: flex;
            flex-direction: column; /* نمایش عمودی */
            flex: 1; /* عرض قابل انعطاف */
            min-width: 150px; /* عرض حداقلی برای جلوگیری از کوچکتر شدن بیش از حد */
        }

        .filter-label {
            margin-bottom: 5px; /* فاصله پایین از برچسب */
            font-weight: bold; /* ضخیم بودن برچسب */
        }

        .filter-input {
            width: 100%; /* عرض کامل ورودی */
            padding: 8px; /* فضای داخلی ورودی */
            border: 1px solid #ccc; /* حاشیه ملایم */
            border-radius: 4px; /* گوشه‌های گرد */
        }

        .filter-button {
            padding: 10px 20px; /* فضای داخلی دکمه */
            border: none; /* حاشیه نداشتن */
            background-color: #007bff; /* رنگ پس‌زمینه دکمه */
            color: white; /* رنگ متن دکمه */
            border-radius: 4px; /* گوشه‌های گرد */
            cursor: pointer; /* اشاره‌گر دست برای کلیک */
            font-size: 16px; /* اندازه فونت دکمه */
        }

        /* مدیا کوئری برای صفحه‌های کوچکتر از 756 پیکسل */
        @media (max-width: 756px) {
            .filters{
                margin-top: 15px;
            }
            .filters-form {
                flex-direction: column; /* نمایش عمودی برای فرم */
                align-items: stretch; /* کشش عناصر برای عرض کامل */
            }

            .filter-group {
                width: 100%; /* عرض کامل گروه فیلتر */
                margin-bottom: 10px; /* فاصله پایین بین گروه‌ها */
            }

            .filter-button {
                width: 100%; /* عرض کامل دکمه */
                margin-top: 10px; /* فاصله بالای دکمه */
            }
        }
    </style>

{% endblock %}

{% block main %}
    <!-- بخش جستجو و فیلتر -->
    <section class="container" style="">
        <!-- فیلتر و جستجو -->
          <div class="filters">
            <form method="GET" action="{% url 'product_app:product_list' %}" class="filters-form">
                <div class="filter-group">
                    <label class="filter-label" for="search">جستجو:</label>
                    <input type="text" id="search" name="search" class="filter-input"
                           placeholder="نام محصول را وارد کنید" value="{{ request.GET.search }}">
                </div>
                <div class="filter-group">
                    <label class="filter-label" for="min_price">قیمت از:</label>
                    <input type="number" id="min_price" name="min_price" class="filter-input" placeholder="قیمت حداقل"
                           value="{{ request.GET.min_price }}">
                </div>
                <div class="filter-group">
                    <label class="filter-label" for="max_price">قیمت تا:</label>
                    <input type="number" id="max_price" name="max_price" class="filter-input" placeholder="قیمت حداکثر"
                           value="{{ request.GET.max_price }}">
                </div>
                <button type="submit" class="filter-button">اعمال فیلتر</button>
            </form>
        </div>

    </section>

    <section class="container products-section">
        <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3.5 md:gap-5 child:bg-white child:dark:bg-zinc-700 shadow-normal child:rounded-2xl child:p-2 child:md:p-5">
            {% for product in products %}
                <div>
                    <!-- Images and discount -->
                    <div class="relative mb-2 md:mb-5">
                        {% if product.images.exists %}
                            <img src="{{ product.images.first.image.url }}" class="md:w-auto mx-auto" loading="lazy"
                                 alt="{{ product.images.first.alt_text }}">
                        {% else %}
                            <img src="{% static 'img/products/productDefault.png' %}" class="md:w-auto mx-auto"
                                 loading="lazy" alt="product img not loaded">
                        {% endif %}
                        {% if product.discount_percentage %}
                            {% if product.status == "in_stock" %}

                                <span class="absolute block top-1 right-1 bg-orange-300 h-5 md:h-[30px] rounded-full px-2.5 md:px-3 py-1 font-DanaDemiBold text-xs md:text-base text-white dark:text-zinc-700">
                                {{ product.discount_percentage }}%
                            </span>
                            {% endif %}
                        {% endif %}
                    </div>
                    <!-- Product title -->
                    <a href="{% url 'product_app:product_detail' product.id %}"
                       class="text-sm md:text-xl line-clamp-2 text-zinc-700 dark:text-white mt-2 md:mt-5 mb-1.5 md:mb-2.5 h-10 md:h-14">
                        {{ product.name }}
                    </a>
                    <!-- Price -->
                    <div class="flex gap-x-2 md:gap-2.5 pb-2.5 md:pb-4 items-center">
                        {% if product.status == 'in_stock' %}
                            {% if product.discount_percentage %}
                                <div class="flex items-center text-gray-400 line-through decoration-red-400">
                                    <span class="text-sm md:text-xl">{{ product.price|intcomma }}</span>
                                    <!-- استفاده از فیلتر intcomma -->
                                    <span class="hidden md:inline-block text-sm tracking-tighter">تومان</span>
                                </div>
                                <div class="flex items-center text-teal-600 dark:text-emerald-500">
                                    <span class="text-base md:text-xl font-DanaDemiBold">
                                        {{ product.get_final_price|intcomma }}  <!-- استفاده از فیلتر intcomma -->
                                    </span>
                                    <span class="text-xs md:text-sm tracking-tighter">تومان</span>
                                </div>

                            {% else %}
                                <div class="flex items-center text-teal-600 dark:text-emerald-500">
                                    <span class="text-base md:text-xl font-DanaDemiBold">
                                        {{ product.price|intcomma }}  <!-- استفاده از فیلتر intcomma -->
                                    </span>
                                    <span class="text-xs md:text-sm tracking-tighter">تومان</span>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="text-red-400 text-base md:text-xl">
                                محصول موجود نیست
                            </div>
                        {% endif %}
                    </div>
                    <!-- Shopping and comparison SVG -->
                    <div class="flex justify-between items-center">
                        <a href="{% url 'product_app:product_detail' product.id %}" class="flex gap-px md:gap-1.5">
                            <svg class="w-7 h-7 p-1 md:w-9 md:h-9 md:p-2 rounded-full text-gray-400 bg-gray-100 stroke-[1.5px] dark:bg-zinc-800 hover:bg-teal-600 dark:hover:bg-emerald-500 hover:text-white cursor-pointer transition-all">
                                <use href="#shopping-cart"></use>
                            </svg>

                        </a>
                        <!-- Rating -->
                        <div class="flex items-center">
                            <div class="flex items-center">
                                <div class="flex flex-row-reverse">
                                    {% for i in "12345" %}
                                        {% if forloop.counter <= product.calculate_average_rating %}
                                            <svg class="w-4 h-4 md:w-6 md:h-6 text-yellow-400 border-solid">
                                                <use href="#star"></use>
                                            </svg>
                                        {% else %}
                                            <svg class="w-4 h-4 md:w-6 md:h-6 text-gray-300 dark:text-gray-400">
                                                <use href="#star"></use>
                                            </svg>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="text-xs md:text-sm text-white ml-2 pr-2" style="padding-top: 6px">
                                    {{ product.calculate_average_rating|floatformat:1 }} / 5
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% if not products %}
    	<div class=" shadow-normal text-zinc-700 dark:text-white mx-auto" style="">
                محصولی که با شرایط شما جور باشه پیدا نشد!
                </div>
    {% endif %}
    </section>

    <!-- pagintion -->
    <div class="pagination">
        {% if page_obj.has_next %}

            <a href="?page={{ page_obj.next_page_number }}" class="pagination-button pagination-next">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="pagination-icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"/>
                </svg>
            </a>
        {% endif %}

        <span class="pagination-current">
            صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="pagination-button pagination-prev">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="pagination-icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"/>
                </svg>
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block script %}

{% endblock %}
