{% extends 'base.html' %}
{% load static %}
{% block main %}
    {% include 'includes/home_page/topHeader.html' %}
    {% include 'includes/home_page/products.html' %}
    {% include 'includes/home_page/category-banner.html' %}
    {% include 'includes/home_page/protractCategory.html' %}
    {% include 'includes/home_page/best-selling.html' %}
    {% include 'includes/home_page/coffee-club.html' %}
    {% include 'includes/home_page/services.html' %}
    {% include 'includes/home_page/contact-us.html' %}
    {% include 'includes/home_page/blog.html' %}
{% endblock %}
