{% load static %}
        <!-- blog  -->
        <section class="blog mb-8 md:mb-28">
            <div class="container">
                <!-- blog head  -->
                <div class="flex justify-between items-end mb-5 md:mb-12 ">
                    <!-- products list  -->
                    <div>
                        <h3 class="section-title">جدیدترین پست ها</h3>
                    </div>
                    <a href="#" class="section-link">
                        <!-- Desktop Mode  -->
                        <span class="hidden md:inline-block">مشاهده همه مطالب</span>
                        <!-- Mobile Mode  -->
                        <span class="inline-block md:hidden">مشاهده همه</span>
                        <svg class="w-5 h-5">
                            <use href="#chevron-left"></use>
                        </svg>
                    </a>
                </div>
                <!-- blog body  -->
                <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-3.5 md:gap-5">
                    <div
                        class="group flex gap-x-2.5 sm:block p-2.5 md:p-2 bg-white dark:bg-zinc-700 shadow-normal rounded-2xl">
                        <!-- blog img  -->
                        <div
                            class="relative w-[130px] h-[130px] shrink-0 sm:w-auto sm:h-auto sm:mb-4 rounded-2xl rounded-bl-4xl overflow-hidden">
                            <img src="{% static 'img/blogs/blog-1.png' %}" class="h-full sm:h-auto object-cover" alt="blog-1">
                            <div
                                class="absolute inset-0 w-full h-full hidden md:flex md:justify-center md:items-center invisible opacity-0 group-hover:opacity-100 group-hover:visible bg-gradient-to-t from-orange-200/80 to-orange-300/80 transition-all delay-75">
                                <svg class="w-[138px] h-[54px] text-amber-900">
                                    <use href="#logo-type"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="w-full flex flex-col sm:flex-row items-start justify-between">
                            <a href="#"
                                class=" font-DanaMedium md:font-DanaRegular ml-1.5 sm:ml-0 mt-2.5 sm:mt-0 text-sm/7 md:text-lg line-clamp-2 md:max-w-[193px] text-zinc-700 dark:text-white">طرز
                                تهیه قهوه دمی با دستگاه اروپرس</a>
                            <div class="hidden sm:flex gap-5">
                                <span class="hidden lg:block w-px h-[61px] bg-gray-300 dark:bg-white/10"></span>
                                <div
                                    class="flex flex-col ml-[12px] lg:ml-[18px] -mt-1 text-teal-600 dark:text-emerald-500 text-sm text-left">
                                    <span class="font-DanaDemiBold md:text-xl lg:text-2xl">21</span>
                                    <span>مرداد</span>
                                    <span>1402</span>
                                </div>
                            </div>
                            <div
                                class="flex items-end justify-between w-full sm:hidden border-t border-t-gray-100 dark:border-t-white/10 pt-[18px] pb-1.5">
                                <span class="text-teal-600 dark:text-emerald-500 text-xs">21 مرداد 1402</span>
                                <a href="#"
                                    class="flex items-center gap-x-1 ml-1.5 font-DanaMedium text-xs h-5 rounded-md pr-2.5 pl-2 bg-orange-200/20 text-orange-300">
                                    مطالعه
                                    <svg class="w-3.5 h-3.5">
                                        <use href="#arrow-left"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="group flex gap-x-2.5 sm:block p-2.5 md:p-2 bg-white dark:bg-zinc-700 shadow-normal rounded-2xl">
                        <!-- blog img  -->
                        <div
                            class="relative w-[130px] h-[130px] shrink-0 sm:w-auto sm:h-auto sm:mb-4 rounded-2xl rounded-bl-4xl overflow-hidden">
                            <img src="{% static 'img/blogs/blog-2.png' %}" class="h-full sm:h-auto object-cover" alt="blog-1">
                            <div
                                class="absolute inset-0 w-full h-full hidden md:flex md:justify-center md:items-center invisible opacity-0 group-hover:opacity-100 group-hover:visible bg-gradient-to-t from-orange-200/80 to-orange-300/80 transition-all delay-75">
                                <svg class="w-[138px] h-[54px] text-amber-900">
                                    <use href="#logo-type"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="w-full flex flex-col sm:flex-row items-start justify-between">
                            <a href="#"
                                class=" font-DanaMedium md:font-DanaRegular ml-1.5 sm:ml-0 mt-2.5 sm:mt-0 text-sm/7 md:text-lg line-clamp-2 md:max-w-[193px] text-zinc-700 dark:text-white">طرز
                                تهیه قهوه دمی با دستگاه اروپرس خط دوم اسم طولانی</a>
                            <div class="hidden sm:flex gap-5">
                                <span class="hidden lg:block w-px h-[61px] bg-gray-300 dark:bg-white/10"></span>
                                <div
                                    class="flex flex-col ml-[12px] lg:ml-[18px] -mt-1 text-teal-600 dark:text-emerald-500 text-sm text-left">
                                    <span class="font-DanaDemiBold md:text-xl lg:text-2xl">5</span>
                                    <span>مرداد</span>
                                    <span>1402</span>
                                </div>
                            </div>
                            <div
                                class="flex items-end justify-between w-full sm:hidden border-t border-t-gray-100 dark:border-t-white/10 pt-[18px] pb-1.5">
                                <span class="text-teal-600 dark:text-emerald-500 text-xs">5 مرداد 1402</span>
                                <a href="#"
                                    class="flex items-center gap-x-1 ml-1.5 font-DanaMedium text-xs h-5 rounded-md pr-2.5 pl-2 bg-orange-200/20 text-orange-300">
                                    مطالعه
                                    <svg class="w-3.5 h-3.5">
                                        <use href="#arrow-left"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="group flex gap-x-2.5 sm:block p-2.5 md:p-2 bg-white dark:bg-zinc-700 shadow-normal rounded-2xl">
                        <!-- blog img  -->
                        <div
                            class="relative w-[130px] h-[130px] shrink-0 sm:w-auto sm:h-auto sm:mb-4 rounded-2xl rounded-bl-4xl overflow-hidden">
                            <img src="{% static 'img/blogs/blog-3.png' %}" class="h-full sm:h-auto object-cover" alt="blog-1">
                            <div
                                class="absolute inset-0 w-full h-full hidden md:flex md:justify-center md:items-center invisible opacity-0 group-hover:opacity-100 group-hover:visible bg-gradient-to-t from-orange-200/80 to-orange-300/80 transition-all delay-75">
                                <svg class="w-[138px] h-[54px] text-amber-900">
                                    <use href="#logo-type"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="w-full flex flex-col sm:flex-row items-start justify-between">
                            <a href="#"
                                class=" font-DanaMedium md:font-DanaRegular ml-1.5 sm:ml-0 mt-2.5 sm:mt-0 text-sm/7 md:text-lg line-clamp-2 md:max-w-[193px] text-zinc-700 dark:text-white">طرز
                                تهیه یک فنجان کافه زینو برزیلی</a>
                            <div class="hidden sm:flex gap-5">
                                <span class="hidden lg:block w-px h-[61px] bg-gray-300 dark:bg-white/10"></span>
                                <div
                                    class="flex flex-col ml-[12px] lg:ml-[18px] -mt-1 text-teal-600 dark:text-emerald-500 text-sm text-left">
                                    <span class="font-DanaDemiBold md:text-xl lg:text-2xl">10</span>
                                    <span>مرداد</span>
                                    <span>1402</span>
                                </div>
                            </div>
                            <div
                                class="flex items-end justify-between w-full sm:hidden border-t border-t-gray-100 dark:border-t-white/10 pt-[18px] pb-1.5">
                                <span class="text-teal-600 dark:text-emerald-500 text-xs">10 مرداد 1402</span>
                                <a href="#"
                                    class="flex items-center gap-x-1 ml-1.5 font-DanaMedium text-xs h-5 rounded-md pr-2.5 pl-2 bg-orange-200/20 text-orange-300">
                                    مطالعه
                                    <svg class="w-3.5 h-3.5">
                                        <use href="#arrow-left"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="group flex gap-x-2.5 sm:block p-2.5 md:p-2 bg-white dark:bg-zinc-700 shadow-normal rounded-2xl">
                        <!-- blog img  -->
                        <div
                            class="relative w-[130px] h-[130px] shrink-0 sm:w-auto sm:h-auto sm:mb-4 rounded-2xl rounded-bl-4xl overflow-hidden">
                            <img src="{% static 'img/blogs/blog-4.png' %}" class="h-full sm:h-auto object-cover" alt="blog-1">
                            <div
                                class="absolute inset-0 w-full h-full hidden md:flex md:justify-center md:items-center invisible opacity-0 group-hover:opacity-100 group-hover:visible bg-gradient-to-t from-orange-200/80 to-orange-300/80 transition-all delay-75">
                                <svg class="w-[138px] h-[54px] text-amber-900">
                                    <use href="#logo-type"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="w-full flex flex-col sm:flex-row items-start justify-between">
                            <a href="#"
                                class=" font-DanaMedium md:font-DanaRegular ml-1.5 sm:ml-0 mt-2.5 sm:mt-0 text-sm/7 md:text-lg line-clamp-2 md:max-w-[193px] text-zinc-700 dark:text-white">طرز
                                تهیه قهوه دالگونا مناسب روز‌های کرونایی</a>
                            <div class="hidden sm:flex gap-5">
                                <span class="hidden lg:block w-px h-[61px] bg-gray-300 dark:bg-white/10"></span>
                                <div
                                    class="flex flex-col ml-[12px] lg:ml-[18px] -mt-1 text-teal-600 dark:text-emerald-500 text-sm text-left">
                                    <span class="font-DanaDemiBold md:text-xl lg:text-2xl">17</span>
                                    <span>مرداد</span>
                                    <span>1402</span>
                                </div>
                            </div>
                            <div
                                class="flex items-end justify-between w-full sm:hidden border-t border-t-gray-100 dark:border-t-white/10 pt-[18px] pb-1.5">
                                <span class="text-teal-600 dark:text-emerald-500 text-xs">17 مرداد 1402</span>
                                <a href="#"
                                    class="flex items-center gap-x-1 ml-1.5 font-DanaMedium text-xs h-5 rounded-md pr-2.5 pl-2 bg-orange-200/20 text-orange-300">
                                    مطالعه
                                    <svg class="w-3.5 h-3.5">
                                        <use href="#arrow-left"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>