{% load static %}        
<!-- category-banner  -->
        <section class="category-banner mt-8 mb-10 md:my-20">
            <div class="container ">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-5 text-white ">
                    <div 
                        class="category-banner__item1 gap-4 md:gap-5 pr-7 md:pr-12 flex flex-col justify-center h-[142px] md:h-[248px] rounded-2xl">
                        <span class="font-DanaDemiBold text-2xl/6 md:text-4xl/6 mb-4 md:mb-7">انواع قهوه</span>
                        <span class="md:font-DanaDemiBold md:text-xl/6">ترکیبی و تک خاستگاه</span>
                    </div>
                    <div
                        class="category-banner__item2 gap-4 md:gap-5 pr-7 md:pr-12 flex flex-col justify-center h-[142px] md:h-[248px] rounded-2xl">
                        <span class="font-DanaDemiBold text-2xl/6 md:text-4xl/6 mb-4 md:mb-7">پودر های فوری</span>
                        <span class="md:font-DanaDemiBold md:text-xl/6">نسکافه ، هات چاکلت ، ماسالا</span>
                    </div>
                </div>
            </div>
        </section>