{% load static %}

<!-- footer  -->
<footer class="relative bg-zinc-700 py-8 md:pb-11 pt-[62px]">
    <!-- curve  -->
    <svg
            class="rotate-180 absolute top-0 right-0 left-0 mx-auto hidden md:inline-block text-gray-100 dark:text-zinc-800 w-[100px] h-[22px]">
        <use href="#curve"></use>
    </svg>
    <!-- Arrow circle  -->
    <div
            class="absolute top-0 right-0 left-0 mx-auto -translate-y-2/4 hidden md:flex items-center justify-center w-[30px] h-[30px] border-2 border-orange-300 rounded-full">
        <svg class="w-5 h-5 text-zinc-700 dark:text-white rotate-180">
            <use href="#chevron-down"></use>
        </svg>
    </div>
    <div class="sm:w-[94%] lg:w-[90%] px-4 md:px-0 mx-auto text-gray-300">
        <div class="flex flex-wrap justify-between">
            <!-- details wabsite  -->
            <div>
                <div class="flex gap-x-5 mb-6 md:mb-4.5 text-gray-300">
                    <svg class="w-[57px] h-[54px]">
                        <use href="#logo"></use>
                    </svg>
                    <svg class="w-[138px] h-[54px]">
                        <use href="#logo-type"></use>
                    </svg>
                </div>
                <p class="max-w-[606px] lg:max-w-full xl:max-w-[606px] text-lg md:text-xl/[48px]">
                    {{ footer_info.description }}
                </p>
            </div>
            <!-- fast access  -->
            <div class="mt-10 md:mt-[26px]">
                <h4 class="font-DanaDemiBold text-2xl text-white mb-6 md:mb-7">درسترسی سریع</h4>
                <div class="grid grid-cols-2 gap-y-2.5 gap-x-10 md:gap-y-5 md:gap-x-16">
                    <a href="{% url 'home_app:guarantee' %}"
                       class="flex items-center gap-x-2 md:gap-x-3 md:text-xl hover:text-orange-300 transition-all">
                            <span class="inline-block w-2 md:w-2.5 h-1 bg-current rounded-full">
                            </span>
                        حریم خصوصی
                    </a>
                    <a href="{% url 'home_app:guarantee' %}"
                       class="flex items-center gap-x-2 md:gap-x-3 md:text-xl hover:text-orange-300 transition-all">
                            <span class="inline-block w-2 md:w-2.5 h-1 bg-current rounded-full">
                            </span>
                        عودت کالا
                    </a>
                    <a href="{% url 'home_app:guarantee' %}"
                       class="flex items-center gap-x-2 md:gap-x-3 md:text-xl hover:text-orange-300 transition-all">
                            <span class="inline-block w-2 md:w-2.5 h-1 bg-current rounded-full">
                            </span>
                        شرایط استفاده
                    </a>
                    <a href="{% url 'product_app:order_detail' %}"
                       class="flex items-center gap-x-2 md:gap-x-3 md:text-xl hover:text-orange-300 transition-all">
                            <span class="inline-block w-2 md:w-2.5 h-1 bg-current rounded-full">
                            </span>
                        ثبت سفارش
                    </a>
                    <a href="{% url 'home_app:FAQ' %}"
                       class="flex items-center gap-x-2 md:gap-x-3 md:text-xl hover:text-orange-300 transition-all">
                            <span class="inline-block w-2 md:w-2.5 h-1 bg-current rounded-full">
                            </span>
                        پرسش های متداول
                    </a>
                    <a href="#"
                       class="flex items-center gap-x-2 md:gap-x-3 md:text-xl hover:text-orange-300 transition-all">
                            <span class="inline-block w-2 md:w-2.5 h-1 bg-current rounded-full">
                            </span>
                        فرصت های شغلی
                    </a>
                    <a href="{% url 'home_app:guarantee' %}"
                       class="flex items-center gap-x-2 md:gap-x-3 md:text-xl hover:text-orange-300 transition-all">
                            <span class="inline-block w-2 md:w-2.5 h-1 bg-current rounded-full">
                            </span>
                        ضمانت نامه ها
                    </a>
                    <a href="{% url 'account_app:contact_form_submit' %}"
                       class="flex items-center gap-x-2 md:gap-x-3 md:text-xl hover:text-orange-300 transition-all">
                            <span class="inline-block w-2 md:w-2.5 h-1 bg-current rounded-full">
                            </span>
                        ارتباط با ما
                    </a>
                </div>
            </div>
            <!-- contact-us-footer  -->
            <div class="mt-10 md:mt-[26px]">
                <h4 class="font-DanaDemiBold text-2xl text-white mb-6 md:mb-7">در تماس باشیم</h4>
                <div class="md:text-xl mb-6 md:mb-10">
                        <span class="flex items-center gap-x-2 md:gap-x-3 text-xl mb-4 md:mb-5">
                            <svg class="w-5 md:w-6 h-5 md:h-6 shrink-0">
                                <use href="#map-pin"></use>
                            </svg>
{{ footer_info.address }} 
                        </span>
                    <div class="flex flex-wrap gap-x-5 gap-y-4 font-DanaMedium">
                        <a href="mailto:info@Coffee.com"
                           class="flex items-center gap-x-2 md:gap-x-3 text-xl text-orange-300">
                            <svg class="w-5 md:w-6 h-5 md:h-6">
                                <use href="#envelope"></use>
                            </svg>
                            <span>{{ footer_info.email }}</span>
                        </a>
                        <div class="flex items-center gap-x-2 md:gap-x-3 text-xl">
                            <svg class="w-5 md:w-6 h-5 md:h-6">
                                <use href="#phone"></use>
                            </svg>
                            {% for phone in phone_company %}
                                <span class="ltr-text">{{ phone }}</span>
                                {% if not phone_company.last == phone %}
                                    -
                                {% endif %}
                            {% endfor %}


                        </div>
                    </div>
                </div>
                <!-- button footer  -->
                <div
                        class="flex grid grid-cols-2 gap-x-1.5 md:gap-x-6 font-DanaMedium md:text-xl child:flex child:flex-grow child:justify-center child:items-center child:gap-x-2 ltr-text">

                    {% if footer_info.telegram %}
                    	<a href="{{ footer_info.telegram }}" class="border-orange-200 text-orange-200 rounded-xl h-1/2">
                        {{ footer_info.id_telegram }}
                        <svg class="w-[26px] h-[26px] md:w-[38px] md:h-[38px]">
                            <use href="#telegram"></use>
                        </svg>
                    </a>
                    {% endif %} 
                    {% if footer_info.eitaa %}
                    	<a href="{{ footer_info.eitaa }}" class="border-orange-200 text-orange-200 rounded-xl h-1/2">
                        {{ footer_info.id_eitaa }}
                        <svg class="w-[26px] h-[26px] md:w-[38px] md:h-[38px]">
                            <use href="#eitaa" style=""></use>
                        </svg>
                    </a>
                    {% endif %} 
                {% if footer_info.instagram %}
                    	<a href="{{ footer_info.instagram }}" class="border-orange-200 text-orange-200 rounded-xl h-1/2">
                        {{ footer_info.id_instagram }}
                        <svg class="w-[26px] h-[26px] md:w-[38px] md:h-[38px]">
                            <use href="#instagram"></use>
                        </svg>
                    </a>
                    {% endif %} 
{% if footer_info.twitter %}
	
                    <a href="{{ footer_info.twitter }}" class="border-orange-200 text-orange-200 rounded-xl">
                        
                        {{ footer_info.id_twitter }}
                        <svg class="w-[26px] h-[26px] md:w-[38px] md:h-[38px]">
                            <use href="#x" style=""></use>
                        </svg>
                    </a>
{% endif %} 

                </div>

            </div>


        </div>

        <div class="flex flex-wrap justify-between items-center gap-x-4 font-DanaMedium text-xs/5 md:text-base border-t border-t-white/10 pt-10 md:pt-11 mt-10 md:mt-11">
            <div class="flex items-center gap-x-2.5">
                <div class="flex-center flex-shrink-0 w-[30px] h-[30px] border border-white/10 rounded-full">
                    <div class="flex-center w-5 h-5 border border-white/20 rounded-full">
                        <div class="w-2.5 h-2.5 bg-gradient-to-t from-orange-200 to-orange-300 rounded-full"></div>
                    </div>
                </div>
                <p>تمام حقوق این رابط کابری متعلق به <span class="text-orange-200">KM-Matin</span>می باشد</p>
            </div>
            <span class="ltr-text mt-auto">Copyright © 2023 Golden Coffee. All rights reserved.</span>
        </div>
    </div>
</footer>